# let's ignore stuff

# Intuiface Files #
###################
Files/

*.webp
*.csv

boilerplate.htm
boilerplate00.htm
boilerplate01.htm
boilerplate02.htm
boilerplate03.htm
boilerplate04.htm
boilerplate05.htm

jsonQ.min.js
Skeleton-2.0.4
SportsView.ifx
SportsView.ifx.json
SportsView.recovery


SportsViewLinks.md
web.config


# Compiled source #
###################
*.com
*.class
*.dll
*.exe

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip